.searchPopup{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.srcTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.srcItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.srcItem>label{
    font-size: 12px;
    padding-top: 10px;
}

.srcItem>input{
    height: 30px;
    border: none;
    padding: 5px;
}

.srcItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.srcOptions{
    padding: 10px;
}

.srcOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.srcOptionInput{
    width: 50px;
}

.searchPopup>button{
    padding: 10px;background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}